{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="top_navbar">
        <div class="hamburger">
        <div class="hamburger__inner">
        <i class="fas fa-bars"></i>
        </div>
        </div>
        <ul class="menu">
            
        </ul>
        <ul class="right_bar">
            <li><i class="fas fa-search"></i></li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
    

    <div class="container">
        <ul>
        {% for user_p in users %}
          <li><a href="{% url 'users:profile_view' pk=user_p.pk %}">{{ user_p }}</a></li>
        {% endfor %}
        </ul>
        
 
   
{% endblock content %}
