{% extends 'posts/base.html' %}

{% block content %}
        <div class="top_navbar">
            <div class="hamburger">
            <div class="hamburger__inner">
            <i class="fas fa-bars"></i>
            </div>
            </div>
            <ul class="menu">
                <li><a href="{% url 'crushes:crush' %}" class="active">Crushes</a></li>
                <li><a href="{% url 'crushes:statistics' %}">Statistics</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul class="right_bar">
                <li><a href="{% url 'crushes:crush' %}"><i class="fas fa-heart"></i></a></li>
                <li><a href="{% url 'crushes:statistics' %}"><i class="fas fa-chart-bar"></i></a></li>
                <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row mb-1 posts">
                <div class="col-md-8">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Add name">
                        </div>
                        <div class="form-group">
                            <label>Nickname</label>
                            <input type="text" class="form-control" name="nickname" placeholder="Add name">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <textarea type="text" class="form-control" name="content" placeholder="Add content"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tags</label>
                            <input type="text" data-role="tagsinput" class="form-control" name="tags">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}        




