{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Krush - Home </title>

<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tagsinput.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css'%}">

</head>
<body translate="no">

    <div class="wrapper">
        <div class="sidebar">
            <div class="bg_shadow"></div>
            <div class="sidebar__inner">
                <div class="close">
                <i class="fas fa-times"></i>
                </div>
                <div class="profile_info">
                <div class="profile_img">
                <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="profile_img">
                </div>
                <div class="profile_data">
                <p class="role">{{ user.username }}</p>
                </div>
                </div>
                    <ul class="siderbar_menu">
                        <li><a href="{% url 'crushes:crush' %}" class="active">
                        <div class="title"><i class="fas fa-heart"></i> Home</div>
                        </a></li>
                        <li><a href="{% url 'users:profile' %}">
                        <div class="title"><i class="fas fa-newspaper"></i> Profile</div>
                        </a></li>
                        <li><a href="{% url 'users:friends' %}">
                        <div class="title"><i class="fas fa-user-friends"></i> Friends</div>
                        </a></li>
                        <li><a href="#">
                        <div class="title"><i class="fas fa-cog"></i> Settings</div>
                        </a></li>
                    </ul>
                    <div><a href="{% url 'crushes:create-crush' %}" class="btn">Create Krush</a></div>

            </div>
        </div>
        <div class="main_container">
          <div class="top_navbar">
              <div class="hamburger">
              <div class="hamburger__inner">
              <i class="fas fa-bars"></i>
              </div>
              </div>
              <ul class="menu">
                  <li><a href="{% url 'crushes:crush' %}" class="active">Crushes</a></li>
                  <li><a href="{% url 'crushes:statistics' %}">Statistics</a></li>
                  <li><a href="#">About</a></li>
              </ul>
              <ul class="right_bar">
                <li><a href="{% url 'crushes:create-crush' %}"><i class="fas fa-edit"></i></a></li>
                <li><a href="{% url 'crushes:statistics' %}"><i class="fas fa-chart-bar"></i></a></li>
                <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
              </ul>
          </div>
          <div class="container">
                                 {% for post in posts %}
                                     <div class="item no-gutters shadow-sm">
                                         <div>
                                             <div>
                                                 <h3 class="my-1"><a class="name" href="{% url 'crushes:post-detail' post.id %}">{{post.name}}</a></h3>

                                                 <div style="display:flex">
                                                     {% for tag in post.tags.all %}
                                                     <a href="{% url 'crushes:tagged' tag.slug %}" class="mr-1 badge trait-info">#{{ tag }}</a>
                                                     {% endfor %}
                                                 </div>
                                                 <p class="mb-auto">{{post.nickname}}</p>
                                                 <p class="mb-auto">{{post.content}}</p>
                                                 <p class="mb-auto text-muted">{{post.published}}</p>
                                             </div>
                                         </div>
                                     </div>       

                                 {% endfor %}
              </div>
          </div>
        </div>
    </div>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


  <script type="text/javascript" src="{% static 'js/tagsinput.js'%}"></script>
  <script src="{% static 'js/main.js' %}" type="232c8fa1d69ab1b850676250-text/javascript"></script>
  <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="232c8fa1d69ab1b850676250-|49" defer=""></script>
<script id="rendered-js">
$(".hamburger .fas").click(function () {
  $(".wrapper").addClass("active");
});

$(".wrapper .sidebar .close").click(function () {
  $(".wrapper").removeClass("active");
});
//# sourceURL=pen.js
    </script>
</body>
</html>
        




